## Task 01:

Print Your Name with your Father name and Date of birth using suitable escape sequence charactor

In [6]:
name="Onaiza Reaz"
father_name="Muhammad Reaz-ud-din Qureshi"
birth_date="11-01-2002"
print("My Name: ",name,"\nMy Father Name: ",father_name,"\nMy Birth Date",birth_date)

My Name:  Onaiza Reaz
My Father Name:  Muhammad Reaz-ud-din Qureshi
My Birth Date 11-01-2002

# Task 02:

Write your small bio using variables and print it using print function

In [7]:
name="Onaiza Reaz"
university="NED University of Engineering and Technology"
year="3rd Year"
domain="Computer Science"
print("My name is ",name,". I am ",domain,year,"student in",university)

My name is  Onaiza Reaz . I am  Computer Science 3rd Year student in NED University of Engineering and Technology

# Task 03:

Write a program in which use all the operators we can use in Python

In [9]:
x=15
y=12
print("Adding: ",x+y)
print("Subtracting: ",x-y)
print("Multiplication: ",x*y)
print("Division: ",x/y)
print("Modulus: ",x%y)

Adding:  27
Subtracting:  3
Multiplication:  180
Division:  1.25
Modulus:  3

# Task 04:


1. Mention Marks of English , Islamiat and Maths out of 100 in 3 different variables

2. Mention Variable of Total Marks and assign 300 to it

3. Calculate Percentage

In [10]:
english=89
islamiat=90
maths=78
total_marks=300
obtain_marks=english+islamiat+maths
percentage=(obtain_marks/total_marks)*100
print(percentage)

85.66666666666667